---
name: Lint and Test

on:
    push:
        branches:
          - main
    pull_request: {}
    workflow_dispatch: {}

jobs:
    lint_and_test:
        name: python
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v4

      # https://docs.astral.sh/uv/guides/integration/github/
          - name: Install uv
            uses: astral-sh/setup-uv@v6
          - name: Set up Python
            run: uv python install
          - name: Install the project
            run: |
                uv sync --all-extras --dev

          - name: Format, lint and typecheck the code
            run: |
                source .venv/bin/activate
                task format
                task lint
                task mypy
          - name: Run tests
            run: |
                PYTHONPATH=$GITHUB_WORKSPACE uv run pytest tests/
          - name: Prepare report
            run: |
                mkdir -p report/coverage
                mv .coverage/html_output/ report/coverage
                uv cache prune --ci
          - name: Archive the test results
            uses: actions/upload-artifact@v4
            with:
                name: test-report
                path: report
